<section class="how-to-it-section"> 
    <div class="how-to-it-section-content">
        <h2 class="how-to-it-section-title">{{ widget_settings.title }}</h2>
        <p class="how-to-it-section-subtitle">{{ widget_settings.subtitle }}</p>
        <a href="{{ widget_settings.button_link }}" class="how-to-it-section-button add-to-cart-btn">{{ widget_settings.button_text }}</a>
    </div>
    <img src="{{ widget_settings.image }}" alt="How to Eat" class="how-to-it-section-image">
</section>
