<!-- Features Section -->
<section class="features-section">
  <div class="feature-card feature-card-left" style="background-image: url({{widget_settings.image_1}});">
    <div class="feature-content">
      <h2>{{widget_settings.main_text_1}}</h2>
    </div>
  </div>
  <div class="feature-card feature-card-center" style="background-image: url({{widget_settings.image_2}});">
    <div class="feature-content">
      <h2>{{widget_settings.main_text_2}}</h2>
    </div>
  </div>
  <div class="feature-card feature-card-right" style="background-image: url({{widget_settings.image_3}});">
    <div class="feature-content">
      <h2>{{widget_settings.main_text_3}}</h2>
    </div>
  </div>
</section>