<!-- Product Section -->

<section class="product-section">
  <div class="product-details">
    <div class="product-header">
      <h1 class="product-title">{{ product.title }}</h1>
      <div class="menu-selector">
        <div class="menu-info">
          <p class="menu-description">Уникальное меню на 30 дней:</p>
          <div class="day-navigation">
            <button class="nav-btn prev-btn" id="prev-btn">
              <img src="{{ 'arrow-1.svg' | asset_url }}" alt="Previous" />
            </button>
            <div class="days-container">
                              <span class="day-item current-day">День 1</span>
            </div>
            <button class="nav-btn next-btn" id="next-btn">
              <img src="{{ 'arrow-1-1.svg' | asset_url }}" alt="Next" />
            </button>
          </div>
        </div>
        <div class="nutrition-info">
          <span class="nutrition-item" id="data-k">К 0</span>
          <span class="nutrition-item" id="data-b">Б 0</span>
          <span class="nutrition-item" id="data-j">Ж 0</span>
          <span class="nutrition-item" id="data-u">У 0</span>
        </div>
      </div>
      <div class="dishes-gallery" id="dishes-gallery">
        <!-- Блюда будут загружены динамически из sport-dishes-data.json -->
      </div>
    </div>
    <div class="product-description">
      <h2 class="description-title">{{ product.description }}</h2>
      <div class="description-text">{{ product.short_description }}</div>
    </div>
  </div>

  <!-- Settings Panel -->
  <form action="{{ cart_url }}" method="post" data-product-id="{{ product.id }}" class="settings-panel">

    {% if product.show_variants? %}
        <select name="variant_id" data-product-variants='{"default": "option-radio"}'>
            {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
            {% endfor %}
          </select>

        <hr class="separator-line" />
    {% else %}
        <input type="hidden" name="variant_id" value="{{product.variants.first.id}}" >
    {% endif %}

    {% unless product.is_bundle %}
        {% if product.accessories.size > 0 %}
          <div class="">
            <div data-product-accessories></div>
          </div>
    
          <template data-product-accessories-template>
            <div
              class="accessory-item"
              data-product-accessories-item
            >
              <div class="accessory-name" style="display: none;">
                <strong>
                  <span data-product-accessory-name></span>
                </strong>
    
                <span data-product-accessory-minmax-count='{
                  "minCountMessage": "{{ messages.from }}",
                  "maxCountMessage": "{{ messages.to }}"
                }'></span>
              </div>
    
              <div class="accessory-values meal-options" data-product-accessory-values></div>
    
              <div
                data-product-accessory-error='{
                  "lessThenMinCount": "Выбрано меньше минимального количества",
                  "moreThenMaxCount": "Выбрано больше максимального количества",
                  "scrollEnabled": "true"
                }'
                class="accessory-item__error"
              ></div>
            </div>
          </template>
    
          <template data-product-accessory-values-template>
            <label
              class="accessory-values__item meal-option"
              data-product-accessory-values-item
              data-product-accessory-values-item-id
            >
                <div class="toggle-switch">
                    <div class="toggle-circle"></div>
                </div>
              <span data-product-accessory-values-item-name></span><span style="display: none;" data-product-accessory-values-item-price></span>
            </label>
          </template>
        {% endif %}
    {% endunless %}

    <hr class="separator-line" />

    <!-- Allergen Exclusions -->
    <div class="allergen-section">
      <div class="allergen-header">
        <h3 class="allergen-trigger" id="allergen-trigger">Исключить аллергены</h3>
        <p class="allergen-info">
          <span class="info-text">Первые 3 ингредиента — бесплатно<br />За каждое дополнительное исключение:</span>
          <span class="price">+300 ₽</span>
        </p>
      </div>
      
      <!-- Allergen Dropdown -->
      <div class="allergen-dropdown" id="allergen-dropdown">
        <div class="dropdown-header">
          <span>Выберите, что исключить:</span>
        </div>
        <div class="search-container">
          <div class="search-icon">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.5 11.5L14 14M13 7.5C13 10.5376 10.5376 13 7.5 13C4.46243 13 2 10.5376 2 7.5C2 4.46243 4.46243 2 7.5 2C10.5376 2 13 4.46243 13 7.5Z" stroke="#D4D4CD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <input type="text" class="allergen-search" placeholder="Поиск" id="allergen-search" />
        </div>
        <div class="allergen-list" id="allergen-list">
        </div>
      </div>
      <div class="allergen-tags" id="allergen-tags">
      </div>
      <div class="allergen-note" id="allergen-note">
        <div class="info-icon">
          <svg width="2" height="10" viewBox="0 0 2 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.400024 2.975H1.60002V9.18269H0.400024V2.975ZM0.400024 0.817307H1.60002V2.14423H0.400024V0.817307Z" fill="#D4D4CD"/>
          </svg>
        </div>
        <span>Указанные продукты будут исключены из вашего меню</span>
      </div>
      <input id="allergen-input" type="text" name="comment" value="" style="display: none">
    </div>

    <!-- Order Summary -->
    <div class="order-summary">
      <div class="price-info">
        <span class="price-label">Итого:</span>
        <div class="price-display">
          <span class="total-price" data-product-card-price></span>
          <span class="price-period">/ день</span>
        </div>
      </div>
      <div class="order-actions">
        <button type="submit" data-item-add class="add-to-cart-btn">Заказать доставку</button>
        <p class="delivery-info">Ближайшая доставка: 19 марта с 6:00 до 10:00</p>
      </div>
    </div>
  </form>
</section>

<script>
    var program = {
        "programName": "СПОРТ",
        "calorieOptions": [
            2301,
            2500,
            3000
        ],
        "calorieOptionsCount": 3,
        "startDate": "2025-01-01",
        "dishesByDay": {
            "day-1": {
            "dayName": "День 1",
            "dishes": [
                {
                "id": 1,
                "name": "Утка с киноа",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Утка с киноа",
                "nutrition": "580,52,38,16|650,58,43,18|720,64,48,20",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": true
                },
                {
                "id": 2,
                "name": "Сельдь с овощами",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Сельдь с овощами",
                "nutrition": "270,30,14,6|300,33,16,7|330,36,18,8",
                "isBreakfast": false,
                "isSnack": true,
                "isDinner": false
                },
                {
                "id": 3,
                "name": "Омлет с грибами",
                "image": "https://static.insales-cdn.com/files/1/2937/90614649/original/dishes-6.jpg",
                "alt": "Омлет с грибами",
                "nutrition": "240,20,14,10|270,22,16,11|300,25,18,12",
                "isBreakfast": true,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 4,
                "name": "Индейка с брокколи",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Индейка с брокколи",
                "nutrition": "290,32,6,15|320,35,7,17|350,38,8,19",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 5,
                "name": "Говядина с овощами",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Говядина с овощами",
                "nutrition": "460,50,26,8|510,55,29,9|560,60,32,10",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 6,
                "name": "Лосось с киноа",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Лосось с киноа",
                "nutrition": "450,42,22,18|500,47,24,20|550,52,26,22",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 7,
                "name": "Салат с креветками",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Салат с креветками",
                "nutrition": "280,28,10,20|310,31,11,22|340,34,12,24",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                }
            ]
            },
            "day-2": {
            "dayName": "День 2",
            "dishes": [
                {
                "id": 8,
                "name": "Лосось с киноа",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Лосось с киноа",
                "nutrition": "450,42,22,18|500,47,24,20|550,52,26,22",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": true
                },
                {
                "id": 9,
                "name": "Индейка с брокколи",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Индейка с брокколи",
                "nutrition": "290,32,6,15|320,35,7,17|350,38,8,19",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 10,
                "name": "Утка с киноа",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Утка с киноа",
                "nutrition": "580,52,38,16|650,58,43,18|720,64,48,20",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 11,
                "name": "Салат с креветками",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Салат с креветками",
                "nutrition": "280,28,10,20|310,31,11,22|340,34,12,24",
                "isBreakfast": false,
                "isSnack": true,
                "isDinner": false
                },
                {
                "id": 12,
                "name": "Свиная вырезка с овощами",
                "image": "https://static.insales-cdn.com/files/1/2465/90614177/original/dishes-3.jpg",
                "alt": "Свиная вырезка с овощами",
                "nutrition": "420,45,24,12|470,50,27,13|520,55,30,14",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 13,
                "name": "Треска с картофелем",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Треска с картофелем",
                "nutrition": "310,35,6,28|340,38,7,31|370,41,8,34",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 14,
                "name": "Куриная грудка с овощами",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Куриная грудка с овощами",
                "nutrition": "320,35,8,12|350,38,9,13|380,41,10,14",
                "isBreakfast": true,
                "isSnack": false,
                "isDinner": false
                }
            ]
            },
            "day-3": {
            "dayName": "День 3",
            "dishes": [
                {
                "id": 15,
                "name": "Куриная грудка с овощами",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Куриная грудка с овощами",
                "nutrition": "320,35,8,12|350,38,9,13|380,41,10,14",
                "isBreakfast": true,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 16,
                "name": "Треска с картофелем",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Треска с картофелем",
                "nutrition": "310,35,6,28|340,38,7,31|370,41,8,34",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": true
                },
                {
                "id": 17,
                "name": "Стейк из говядины",
                "image": "https://static.insales-cdn.com/files/1/2465/90614177/original/dishes-3.jpg",
                "alt": "Стейк из говядины",
                "nutrition": "480,52,28,0|530,57,31,0|580,62,34,0",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 18,
                "name": "Куриное филе с рисом",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Куриное филе с рисом",
                "nutrition": "350,38,8,25|390,42,9,28|430,46,10,31",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 19,
                "name": "Индейка с брокколи",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Индейка с брокколи",
                "nutrition": "290,32,6,15|320,35,7,17|350,38,8,19",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 20,
                "name": "Утка с киноа",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Утка с киноа",
                "nutrition": "580,52,38,16|650,58,43,18|720,64,48,20",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 21,
                "name": "Скумбрия с рисом",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Скумбрия с рисом",
                "nutrition": "340,36,12,22|380,40,13,24|420,44,14,26",
                "isBreakfast": false,
                "isSnack": true,
                "isDinner": false
                }
            ]
            },
            "day-4": {
            "dayName": "День 4",
            "dishes": [
                {
                "id": 22,
                "name": "Скумбрия с рисом",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Скумбрия с рисом",
                "nutrition": "340,36,12,22|380,40,13,24|420,44,14,26",
                "isBreakfast": false,
                "isSnack": true,
                "isDinner": false
                },
                {
                "id": 23,
                "name": "Свиная вырезка с овощами",
                "image": "https://static.insales-cdn.com/files/1/2465/90614177/original/dishes-3.jpg",
                "alt": "Свиная вырезка с овощами",
                "nutrition": "420,45,24,12|470,50,27,13|520,55,30,14",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": true
                },
                {
                "id": 24,
                "name": "Индейка с брокколи",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Индейка с брокколи",
                "nutrition": "290,32,6,15|320,35,7,17|350,38,8,19",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 25,
                "name": "Треска с картофелем",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Треска с картофелем",
                "nutrition": "310,35,6,28|340,38,7,31|370,41,8,34",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 26,
                "name": "Говядина с овощами",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Говядина с овощами",
                "nutrition": "460,50,26,8|510,55,29,9|560,60,32,10",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 27,
                "name": "Сельдь с овощами",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Сельдь с овощами",
                "nutrition": "270,30,14,6|300,33,16,7|330,36,18,8",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 28,
                "name": "Омлет с грибами",
                "image": "https://static.insales-cdn.com/files/1/2937/90614649/original/dishes-6.jpg",
                "alt": "Омлет с грибами",
                "nutrition": "240,20,14,10|270,22,16,11|300,25,18,12",
                "isBreakfast": true,
                "isSnack": false,
                "isDinner": false
                }
            ]
            },
            "day-5": {
            "dayName": "День 5",
            "dishes": [
                {
                "id": 29,
                "name": "Скрэмбл с овощами",
                "image": "https://static.insales-cdn.com/files/1/2937/90614649/original/dishes-6.jpg",
                "alt": "Скрэмбл с овощами",
                "nutrition": "260,22,16,12|290,24,18,13|320,26,20,14",
                "isBreakfast": true,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 30,
                "name": "Свиная вырезка с овощами",
                "image": "https://static.insales-cdn.com/files/1/2465/90614177/original/dishes-3.jpg",
                "alt": "Свиная вырезка с овощами",
                "nutrition": "420,45,24,12|470,50,27,13|520,55,30,14",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": true
                },
                {
                "id": 31,
                "name": "Индейка с брокколи",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Индейка с брокколи",
                "nutrition": "290,32,6,15|320,35,7,17|350,38,8,19",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 32,
                "name": "Утка с киноа",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Утка с киноа",
                "nutrition": "580,52,38,16|650,58,43,18|720,64,48,20",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 33,
                "name": "Салат с креветками",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Салат с креветками",
                "nutrition": "280,28,10,20|310,31,11,22|340,34,12,24",
                "isBreakfast": false,
                "isSnack": true,
                "isDinner": false
                },
                {
                "id": 34,
                "name": "Тунец с авокадо",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Тунец с авокадо",
                "nutrition": "380,38,18,8|420,42,20,9|460,46,22,10",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 35,
                "name": "Яичница с овощами",
                "image": "https://static.insales-cdn.com/files/1/2937/90614649/original/dishes-6.jpg",
                "alt": "Яичница с овощами",
                "nutrition": "220,18,12,8|240,20,13,9|260,22,14,10",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                }
            ]
            },
            "day-6": {
            "dayName": "День 6",
            "dishes": [
                {
                "id": 36,
                "name": "Тунец с авокадо",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Тунец с авокадо",
                "nutrition": "380,38,18,8|420,42,20,9|460,46,22,10",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": true
                },
                {
                "id": 37,
                "name": "Лосось с киноа",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Лосось с киноа",
                "nutrition": "450,42,22,18|500,47,24,20|550,52,26,22",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 38,
                "name": "Треска с картофелем",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Треска с картофелем",
                "nutrition": "310,35,6,28|340,38,7,31|370,41,8,34",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 39,
                "name": "Яичница с овощами",
                "image": "https://static.insales-cdn.com/files/1/2937/90614649/original/dishes-6.jpg",
                "alt": "Яичница с овощами",
                "nutrition": "220,18,12,8|240,20,13,9|260,22,14,10",
                "isBreakfast": true,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 40,
                "name": "Индейка с брокколи",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Индейка с брокколи",
                "nutrition": "290,32,6,15|320,35,7,17|350,38,8,19",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 41,
                "name": "Стейк из говядины",
                "image": "https://static.insales-cdn.com/files/1/2465/90614177/original/dishes-3.jpg",
                "alt": "Стейк из говядины",
                "nutrition": "480,52,28,0|530,57,31,0|580,62,34,0",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 42,
                "name": "Баранина с киноа",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Баранина с киноа",
                "nutrition": "520,48,32,18|580,53,36,20|640,58,40,22",
                "isBreakfast": false,
                "isSnack": true,
                "isDinner": false
                }
            ]
            },
            "day-7": {
            "dayName": "День 7",
            "dishes": [
                {
                "id": 43,
                "name": "Треска с картофелем",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Треска с картофелем",
                "nutrition": "310,35,6,28|340,38,7,31|370,41,8,34",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": true
                },
                {
                "id": 44,
                "name": "Омлет с грибами",
                "image": "https://static.insales-cdn.com/files/1/2937/90614649/original/dishes-6.jpg",
                "alt": "Омлет с грибами",
                "nutrition": "240,20,14,10|270,22,16,11|300,25,18,12",
                "isBreakfast": true,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 45,
                "name": "Утка с киноа",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Утка с киноа",
                "nutrition": "580,52,38,16|650,58,43,18|720,64,48,20",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 46,
                "name": "Говядина с овощами",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Говядина с овощами",
                "nutrition": "460,50,26,8|510,55,29,9|560,60,32,10",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 47,
                "name": "Куриное филе с рисом",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Куриное филе с рисом",
                "nutrition": "350,38,8,25|390,42,9,28|430,46,10,31",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 48,
                "name": "Телятина с картофелем",
                "image": "https://static.insales-cdn.com/files/1/2465/90614177/original/dishes-3.jpg",
                "alt": "Телятина с картофелем",
                "nutrition": "390,44,18,20|430,48,20,22|470,52,22,24",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 49,
                "name": "Сельдь с овощами",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Сельдь с овощами",
                "nutrition": "270,30,14,6|300,33,16,7|330,36,18,8",
                "isBreakfast": false,
                "isSnack": true,
                "isDinner": false
                }
            ]
            },
            "day-8": {
            "dayName": "День 8",
            "dishes": [
                {
                "id": 50,
                "name": "Лосось с киноа",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Лосось с киноа",
                "nutrition": "450,42,22,18|500,47,24,20|550,52,26,22",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": true
                },
                {
                "id": 51,
                "name": "Салат с креветками",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Салат с креветками",
                "nutrition": "280,28,10,20|310,31,11,22|340,34,12,24",
                "isBreakfast": false,
                "isSnack": true,
                "isDinner": false
                },
                {
                "id": 52,
                "name": "Сельдь с овощами",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Сельдь с овощами",
                "nutrition": "270,30,14,6|300,33,16,7|330,36,18,8",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 53,
                "name": "Телятина с картофелем",
                "image": "https://static.insales-cdn.com/files/1/2465/90614177/original/dishes-3.jpg",
                "alt": "Телятина с картофелем",
                "nutrition": "390,44,18,20|430,48,20,22|470,52,22,24",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 54,
                "name": "Яичница с овощами",
                "image": "https://static.insales-cdn.com/files/1/2937/90614649/original/dishes-6.jpg",
                "alt": "Яичница с овощами",
                "nutrition": "220,18,12,8|240,20,13,9|260,22,14,10",
                "isBreakfast": true,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 55,
                "name": "Скрэмбл с овощами",
                "image": "https://static.insales-cdn.com/files/1/2937/90614649/original/dishes-6.jpg",
                "alt": "Скрэмбл с овощами",
                "nutrition": "260,22,16,12|290,24,18,13|320,26,20,14",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 56,
                "name": "Куриная грудка с овощами",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Куриная грудка с овощами",
                "nutrition": "320,35,8,12|350,38,9,13|380,41,10,14",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                }
            ]
            },
            "day-9": {
            "dayName": "День 9",
            "dishes": [
                {
                "id": 57,
                "name": "Куриное филе с рисом",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Куриное филе с рисом",
                "nutrition": "350,38,8,25|390,42,9,28|430,46,10,31",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": true
                },
                {
                "id": 58,
                "name": "Яичница с овощами",
                "image": "https://static.insales-cdn.com/files/1/2937/90614649/original/dishes-6.jpg",
                "alt": "Яичница с овощами",
                "nutrition": "220,18,12,8|240,20,13,9|260,22,14,10",
                "isBreakfast": true,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 59,
                "name": "Свиная вырезка с овощами",
                "image": "https://static.insales-cdn.com/files/1/2465/90614177/original/dishes-3.jpg",
                "alt": "Свиная вырезка с овощами",
                "nutrition": "420,45,24,12|470,50,27,13|520,55,30,14",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 60,
                "name": "Куриная грудка с овощами",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Куриная грудка с овощами",
                "nutrition": "320,35,8,12|350,38,9,13|380,41,10,14",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 61,
                "name": "Треска с картофелем",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Треска с картофелем",
                "nutrition": "310,35,6,28|340,38,7,31|370,41,8,34",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 62,
                "name": "Скумбрия с рисом",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Скумбрия с рисом",
                "nutrition": "340,36,12,22|380,40,13,24|420,44,14,26",
                "isBreakfast": false,
                "isSnack": true,
                "isDinner": false
                },
                {
                "id": 63,
                "name": "Баранина с киноа",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Баранина с киноа",
                "nutrition": "520,48,32,18|580,53,36,20|640,58,40,22",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                }
            ]
            },
            "day-10": {
            "dayName": "День 10",
            "dishes": [
                {
                "id": 64,
                "name": "Баранина с киноа",
                "image": "https://static.insales-cdn.com/files/1/2945/90614657/original/dishes-5.jpg",
                "alt": "Баранина с киноа",
                "nutrition": "520,48,32,18|580,53,36,20|640,58,40,22",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": true
                },
                {
                "id": 65,
                "name": "Говядина с овощами",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Говядина с овощами",
                "nutrition": "460,50,26,8|510,55,29,9|560,60,32,10",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 66,
                "name": "Омлет с грибами",
                "image": "https://static.insales-cdn.com/files/1/2937/90614649/original/dishes-6.jpg",
                "alt": "Омлет с грибами",
                "nutrition": "240,20,14,10|270,22,16,11|300,25,18,12",
                "isBreakfast": true,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 67,
                "name": "Салат с креветками",
                "image": "https://static.insales-cdn.com/files/1/2513/90614225/original/dishes-1.jpg",
                "alt": "Салат с креветками",
                "nutrition": "280,28,10,20|310,31,11,22|340,34,12,24",
                "isBreakfast": false,
                "isSnack": true,
                "isDinner": false
                },
                {
                "id": 68,
                "name": "Куриное филе с рисом",
                "image": "https://static.insales-cdn.com/files/1/2761/90614473/original/dishes-2.jpg",
                "alt": "Куриное филе с рисом",
                "nutrition": "350,38,8,25|390,42,9,28|430,46,10,31",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 69,
                "name": "Сельдь с овощами",
                "image": "https://static.insales-cdn.com/files/1/2809/90614521/original/dishes-4.jpg",
                "alt": "Сельдь с овощами",
                "nutrition": "270,30,14,6|300,33,16,7|330,36,18,8",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                },
                {
                "id": 70,
                "name": "Стейк из говядины",
                "image": "https://static.insales-cdn.com/files/1/2465/90614177/original/dishes-3.jpg",
                "alt": "Стейк из говядины",
                "nutrition": "480,52,28,0|530,57,31,0|580,62,34,0",
                "isBreakfast": false,
                "isSnack": false,
                "isDinner": false
                }
            ]
            }
        },
        "filename": "sport-dishes-data.json"
    }

    var allergens = {
        "freeLimit": 3,
        "pricePerExtra": 300,
        "data": [
        {
            "id": "avocado",
            "name": "Авокадо",
            "value": "авокадо"
        },
        {
            "id": "amaranth",
            "name": "Амарант",
            "value": "амарант"
        },
        {
            "id": "pineapple",
            "name": "Ананас",
            "value": "ананас"
        },
        {
            "id": "orange",
            "name": "Апельсин",
            "value": "апельсин"
        },
        {
            "id": "eggplant",
            "name": "Баклажаны",
            "value": "баклажаны"
        },
        {
            "id": "banana",
            "name": "Банан",
            "value": "банан"
        },
        {
            "id": "lamb",
            "name": "Баранина",
            "value": "баранина"
        },
        {
            "id": "sweet_potato",
            "name": "Батат",
            "value": "батат"
        },
        {
            "id": "broccoli",
            "name": "Брокколи",
            "value": "брокколи"
        },
        {
            "id": "bulgur",
            "name": "Булгур",
            "value": "булгур"
        },
        {
            "id": "oyster_mushroom",
            "name": "Вешенки",
            "value": "вешенки"
        },
        {
            "id": "grape",
            "name": "Виноград",
            "value": "виноград"
        },
        {
            "id": "beef",
            "name": "Говядина",
            "value": "говядина"
        },
        {
            "id": "pea",
            "name": "Горох",
            "value": "горох"
        },
        {
            "id": "grapefruit",
            "name": "Грейпфрут",
            "value": "грейпфрут"
        },
        {
            "id": "buckwheat",
            "name": "Гречка",
            "value": "гречка"
        },
        {
            "id": "green_buckwheat",
            "name": "Гречка зеленая",
            "value": "гречка-зеленая"
        },
        {
            "id": "buckwheat_noodles",
            "name": "Гречневая лапша",
            "value": "гречневая-лапша"
        },
        {
            "id": "mushrooms",
            "name": "Грибы",
            "value": "грибы"
        },
        {
            "id": "pear",
            "name": "Груша",
            "value": "груша"
        },
        {
            "id": "dorado",
            "name": "Дорадо",
            "value": "дорадо"
        },
        {
            "id": "catfish",
            "name": "Зубатка",
            "value": "зубатка"
        },
        {
            "id": "raisins",
            "name": "Изюм",
            "value": "изюм"
        },
        {
            "id": "turkey",
            "name": "Индейка",
            "value": "индейка"
        },
        {
            "id": "cocoa",
            "name": "Какао",
            "value": "какао"
        },
        {
            "id": "squid",
            "name": "Кальмары",
            "value": "кальмары"
        },
        {
            "id": "white_cabbage",
            "name": "Капуста белокачанная",
            "value": "капуста-белокачанная"
        },
        {
            "id": "red_cabbage",
            "name": "Капуста краснокачанная",
            "value": "капуста-краснокачанная"
        },
        {
            "id": "cauliflower",
            "name": "Капуста цветная",
            "value": "капуста-цветная"
        },
        {
            "id": "cashew",
            "name": "Кешью",
            "value": "кешью"
        },
        {
            "id": "kiwi",
            "name": "Киви",
            "value": "киви"
        },
        {
            "id": "coho_salmon",
            "name": "Кижуч",
            "value": "кижуч"
        },
        {
            "id": "cilantro",
            "name": "Кинза",
            "value": "кинза"
        },
        {
            "id": "quinoa",
            "name": "Киноа",
            "value": "киноа"
        },
        {
            "id": "coconut",
            "name": "Кокос и кокосовое молоко",
            "value": "кокос-и-кокосовое-молоко"
        },
        {
            "id": "crab",
            "name": "Крабы",
            "value": "крабы"
        },
        {
            "id": "shrimp",
            "name": "Креветки",
            "value": "креветки"
        },
        {
            "id": "rabbit",
            "name": "Кролик",
            "value": "кролик"
        },
        {
            "id": "corn",
            "name": "Кукуруза",
            "value": "кукуруза"
        },
        {
            "id": "dried_apricots",
            "name": "Курага",
            "value": "курага"
        },
        {
            "id": "chicken",
            "name": "Курица",
            "value": "курица"
        },
        {
            "id": "lime",
            "name": "Лайм",
            "value": "лайм"
        },
        {
            "id": "lemon",
            "name": "Лимон",
            "value": "лимон"
        },
        {
            "id": "salmon",
            "name": "Лосось",
            "value": "лосось"
        },
        {
            "id": "green_onion",
            "name": "Лук зеленый",
            "value": "лук-зеленый"
        },
        {
            "id": "onion",
            "name": "Лук репчатый",
            "value": "лук-репчатый"
        },
        {
            "id": "gluten_free_pasta",
            "name": "Макароны безглютеновые",
            "value": "макароны-безглютеновые"
        },
        {
            "id": "wheat_pasta",
            "name": "Макароны из пшеничной муки",
            "value": "макароны-из-пшеничной-муки"
        },
        {
            "id": "olives",
            "name": "Маслины",
            "value": "маслины"
        },
        {
            "id": "mung_bean",
            "name": "Маш",
            "value": "маш"
        },
        {
            "id": "mussels",
            "name": "Мидии",
            "value": "мидии"
        },
        {
            "id": "almond",
            "name": "Миндаль",
            "value": "миндаль"
        },
        {
            "id": "animal_milk",
            "name": "Молоко животное",
            "value": "молоко-животное"
        },
        {
            "id": "plant_milk",
            "name": "Молоко растительное",
            "value": "молоко-растительное"
        },
        {
            "id": "carrot",
            "name": "Морковь",
            "value": "морковь"
        },
        {
            "id": "scallop",
            "name": "Морской гребешок",
            "value": "морской-гребешок"
        },
        {
            "id": "mint",
            "name": "Мята",
            "value": "мята"
        },
        {
            "id": "chickpea",
            "name": "Нут",
            "value": "нут"
        },
        {
            "id": "oatmeal",
            "name": "Овсянка",
            "value": "овсянка"
        },
        {
            "id": "olives",
            "name": "Оливки",
            "value": "оливки"
        },
        {
            "id": "nuts",
            "name": "Орехи",
            "value": "орехи"
        },
        {
            "id": "bran",
            "name": "Отруби",
            "value": "отруби"
        },
        {
            "id": "halibut",
            "name": "Палтус",
            "value": "палтус"
        },
        {
            "id": "quail",
            "name": "Перепелка",
            "value": "перепелка"
        },
        {
            "id": "pepper_spice",
            "name": "Перец (приправа)",
            "value": "перец-приправа"
        },
        {
            "id": "bell_pepper",
            "name": "Перец болгарский",
            "value": "перец-болгарский"
        },
        {
            "id": "chili_pepper",
            "name": "Перец острый (чили)",
            "value": "перец-острый-чили"
        },
        {
            "id": "pearl_barley",
            "name": "Перловка",
            "value": "перловка"
        },
        {
            "id": "peach",
            "name": "Персик",
            "value": "персик"
        },
        {
            "id": "parsley",
            "name": "Петрушка",
            "value": "петрушка"
        },
        {
            "id": "ptitim",
            "name": "Птитим",
            "value": "птитим"
        },
        {
            "id": "millet",
            "name": "Пшено",
            "value": "пшено"
        },
        {
            "id": "radish",
            "name": "Редис",
            "value": "редис"
        },
        {
            "id": "horseradish",
            "name": "Редька",
            "value": "редька"
        },
        {
            "id": "rice",
            "name": "Рис",
            "value": "рис"
        },
        {
            "id": "arugula",
            "name": "Руккола",
            "value": "руккола"
        },
        {
            "id": "beetroot",
            "name": "Свекла",
            "value": "свекла"
        },
        {
            "id": "pork",
            "name": "Свинина",
            "value": "свинина"
        },
        {
            "id": "celery",
            "name": "Сельдерей",
            "value": "сельдерей"
        },
        {
            "id": "sea_bass",
            "name": "Сибас",
            "value": "сибас"
        },
        {
            "id": "jerusalem_artichoke_syrup",
            "name": "Сироп топинамбура",
            "value": "сироп-топинамбура"
        },
        {
            "id": "mackerel",
            "name": "Скумбрия",
            "value": "скумбрия"
        },
        {
            "id": "animal_cream",
            "name": "Сливки животные",
            "value": "сливки-животные"
        },
        {
            "id": "sour_cream",
            "name": "Сметана",
            "value": "сметана"
        },
        {
            "id": "soy",
            "name": "Соя",
            "value": "соя"
        },
        {
            "id": "asparagus",
            "name": "Спаржа",
            "value": "спаржа"
        },
        {
            "id": "pike_perch",
            "name": "Судак",
            "value": "судак"
        },
        {
            "id": "rambol_cheese",
            "name": "Сыр рамболь",
            "value": "сыр-рамболь"
        },
        {
            "id": "cottage_cheese",
            "name": "Творог",
            "value": "творог"
        },
        {
            "id": "sun_dried_tomatoes",
            "name": "Томаты вяленые",
            "value": "томаты-вяленые"
        },
        {
            "id": "fresh_tomatoes",
            "name": "Томаты свежие",
            "value": "томаты-свежие"
        },
        {
            "id": "tofu",
            "name": "Тофу",
            "value": "тофу"
        },
        {
            "id": "cod",
            "name": "Треска",
            "value": "треска"
        },
        {
            "id": "tuna",
            "name": "Тунец",
            "value": "тунец"
        },
        {
            "id": "pumpkin",
            "name": "Тыква",
            "value": "тыква"
        },
        {
            "id": "dill",
            "name": "Укроп",
            "value": "укроп"
        },
        {
            "id": "duck",
            "name": "Утка",
            "value": "утка"
        },
        {
            "id": "beans",
            "name": "Фасоль",
            "value": "фасоль"
        },
        {
            "id": "bread",
            "name": "Хлеб",
            "value": "хлеб"
        },
        {
            "id": "hummus",
            "name": "Хумус",
            "value": "хумус"
        },
        {
            "id": "guinea_fowl",
            "name": "Цесарка",
            "value": "цесарка"
        },
        {
            "id": "zucchini",
            "name": "Цукини",
            "value": "цукини"
        },
        {
            "id": "prunes",
            "name": "Чернослив",
            "value": "чернослив"
        },
        {
            "id": "garlic",
            "name": "Чеснок",
            "value": "чеснок"
        },
        {
            "id": "lentils",
            "name": "Чечевица",
            "value": "чечевица"
        },
        {
            "id": "chuka",
            "name": "Чукка",
            "value": "чукка"
        },
        {
            "id": "champignon",
            "name": "Шампиньоны",
            "value": "шампиньоны"
        },
        {
            "id": "chocolate",
            "name": "Шоколад",
            "value": "шоколад"
        },
        {
            "id": "spinach",
            "name": "Шпинат",
            "value": "шпинат"
        },
        {
            "id": "apple",
            "name": "Яблоко",
            "value": "яблоко"
        },
        {
            "id": "eggs",
            "name": "Яйца",
            "value": "яйца"
        }
        ]
    }
</script>