<section class="logo-line">
  <div class="logo-line__container">
    <div class="logo-line__wrapper">
      <div class="logo-line__item">
        <img src="{{ 'glamour.svg' | asset_url }}" alt="Glamour" class="logo-line__logo">
      </div>
      <div class="logo-line__item">
        <img src="{{ 'tatler.svg' | asset_url }}" alt="Tatler" class="logo-line__logo">
      </div>
      <div class="logo-line__item">
        <img src="{{ 'vogue.svg' | asset_url }}" alt="Vogue" class="logo-line__logo">
      </div>
      <div class="logo-line__item">
        <img src="{{ 'buro.svg' | asset_url }}" alt="Buro" class="logo-line__logo">
      </div>
      <div class="logo-line__item">
        <img src="{{ 'elle.svg' | asset_url }}" alt="Elle" class="logo-line__logo">
      </div>
      <div class="logo-line__item">
        <img src="{{ 'gq.svg' | asset_url }}" alt="GQ" class="logo-line__logo">
      </div>
      <!-- Дублируем логотипы для бесконечной прокрутки -->
      <div class="logo-line__item logo-line__item--duplicate">
        <img src="{{ 'glamour.svg' | asset_url }}" alt="Glamour" class="logo-line__logo">
      </div>
      <div class="logo-line__item logo-line__item--duplicate">
        <img src="{{ 'tatler.svg' | asset_url }}" alt="Tatler" class="logo-line__logo">
      </div>
      <div class="logo-line__item logo-line__item--duplicate">
        <img src="assets/vogue.svg" alt="Vogue" class="logo-line__logo">
      </div>
      <div class="logo-line__item logo-line__item--duplicate">
        <img src="{{ 'buro.svg' | asset_url }}" alt="Buro" class="logo-line__logo">
      </div>
      <div class="logo-line__item logo-line__item--duplicate">
        <img src="{{ 'elle.svg' | asset_url }}" alt="Elle" class="logo-line__logo">
      </div>
      <div class="logo-line__item logo-line__item--duplicate">
        <img src="{{ 'gq.svg' | asset_url }}" alt="GQ" class="logo-line__logo">
      </div>
    </div>
  </div>
</section> 